.choice-box {
    &__paragraph {
      font-size: 2rem;
      font-weight: bolder;
      border-bottom: solid 2px rgba($colour-1, 0.3);
    }

    &__div {
      margin-top: -1.5rem;
    }
    &__label {
      position: relative;    
      top: 13.3px;
      transition: all 0.15s ease-out 0s;
    }
    &__label:hover {
      color: $colour-1;
    }
    &--label:checked::after {
      color: $colour-1;
    }
    
    font-size: 2rem;
    width: 100%;
    margin-top: 2rem;
    letter-spacing: 0.7px;
    flex-shrink: column;
    @include respond(largePhone) {
      font-size: 1.5rem;
}
}