.tagline {
  &__paragraph {
    font-size: 2rem;
    width: 100%;
    font-weight: bolder;
    border-bottom: solid 2px rgba($colour-1, 0.3);
  }

    @include respond(largePhone) {
      font-size: 1.5rem;
    }
  }