.title {
    font-size: 4rem;
    width: 100%;
    margin-top: 2rem;
    letter-spacing: 0.7px;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: bold;
    img {
        width: 8rem;
        height: 8rem;
        margin-left: 4rem;
        margin-top: 2rem;
    }

    @include respond(largePhone) {
      font-size: 1.5rem;
    }
  }