.weather-search {

    &__form {
      text-align: left;
      margin-top: 2rem;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: row;
    }
  
    &__input {
      display: inline-block;
      padding: 0.5rem 3rem;
      border: none;
      border-bottom: solid 2px $colour-1;
      border-radius: px;
      margin-right: 1rem;
      padding-left: 4rem;
      padding-right: 1rem;
      width: 26rem;
  
      &:focus {
        outline: none;
        border-bottom: solid 2px $colour-1;
      }
    }
    &__button {
      padding: 0.6rem;
      font-size: smaller;
      font-weight: bolder;
      color: $text-1;
      float:left;
      border: solid 2px $colour-1;
      border-radius: 4px;
      background-color: rgba($colour-1, 0.2);
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: $colour-1;
      }
    }
  }